.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px auto;
  max-width: 600px; 
  width: 90%;      
}

.search-input {
  flex: 1;
  padding: 15px 25px;
  font-size: 20px; 
  border: 2px solid #ddd;
  border-radius: 50px; 
  outline: none;
  transition: border-color 0.3s ease;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 22px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover { 
  background: #555;
}

.history-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.history-tag {
  border: 1px solid #ccc;
  padding: 2px 8px;
  /* Square tags */
  border-radius: 0; 
  cursor: pointer;
  font-size: 25px;
  color: #f3c8ba;
}

.history-tag:hover { 
  background: #999999; 
}